@using Quotes.Services.QuotesData
@rendermode InteractiveWebAssembly




<div class="feedcanvas">
    @foreach (var quote in seededquotes.quotes)
    {
        <div>
            
        </div>
    }
</div>


@code {
    SeededQuotes seededquotes = new SeededQuotes();
    
    public int x = 2;
}